<!-- country-search-input -->
<country-search-input
placeholder="Buscar por País"
(value)="query.set($event)"/>

<!-- country-list -->

<country-list 
[countries]="countryResource.value() ?? []"
[errorMessage]="countryResource.error()"
[isEmpty]="countryResource.value()?.length === 0"
[isLoading]="countryResource.isLoading()"
/>
<!-- @if (countryResource.error()) {
    <h3>{{countryResource.error()}}</h3>
}@if(countryResource.hasValue()){
    <country-list [countries]="countryResource.value()!"/>
} -->
